hr {
  width: 100%;
}

.hero.is-fullheight .hero-body {
  align-items: stretch;
  padding: 0.75rem;
}

.main {
  border-radius: 10px;
  padding: 0.5rem;
  background-color: #5bb5f1;
}
.container.main .title {
  margin-top: 0.25rem;
}
/* edit bulma message block appearance */
.messageMod {
  padding: 0.25em 1em !important;
  margin-bottom: 0.125rem !important;
}

.hero-foot {
  padding-left: 0.5rem;
  padding-bottom: 0.25rem;
}